* {
    margin: 0;
    padding: 0;
}

header{
    padding: 1rem;
    color:#ffffff;
    background-color: #043050;
}

.head {
    max-width: 60rem;
    margin: 0 auto;  
    display: flex;
    flex-wrap: nowrap;
}

section {
    position: relative;
    border: 1px solid red;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 2rem;
}

.main{
    text-align: center; 
}

.main  > * + * {
    margin-top: 1rem;
}

.loader {
    position: absolute;
    z-index: 100;
    left: 44%;
    transform: translate(-44%, 0);
    display: block;
    margin: 2rem auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FF7A59;
    width: 100px;
    height: 100px;
    animation: spinner 2s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.autocomplete-container {
   margin-top: 1rem;
    position: relative;
}

.map {
    margin-top: 1rem;
}

#mapImg{
    width: 100%;
}

