@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
}

header{
    padding: 1rem;
    color:#ffffff;
    background-color: #043050;
}

.head {
    font-family: 'Outfit', sans-serif;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.head i {
    padding: 0 0.5rem 0 0;
}

section {
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 2rem;
}

.main{
    text-align: center; 
}

.main  > * + * {
    margin-top: 1rem;
}

.loader-container{ 
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, 0);
}

.loader { 
    display: none;
    margin: 2rem auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FF7A59;
    width: 100px;
    height: 100px;
    animation: spinner 2s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.autocomplete-container {
   margin-top: 1rem;
    position: relative;
}

.map {
    margin-top: 1rem;
}

#mapImg{
    width: 100%;
}


